NIS_ECK_Integration/NIS/Web References/CARESCAPEGateway/CARESCAPEGateway.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mayaminer.com/CARESCAPEGateway/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mayaminer.com/CARESCAPEGateway/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mayaminer.com/CARESCAPEGateway/">
      <s:element name="GetEKG_IMG_LEAD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FEENO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STARTDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ENDDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LEAD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEKG_IMG_LEADResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEKG_IMG_LEADResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEKG_IMG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FEENO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STARTDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ENDDATE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEKG_IMGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEKG_IMGResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEKG_IMG_LEADSoapIn">
    <wsdl:part name="parameters" element="tns:GetEKG_IMG_LEAD" />
  </wsdl:message>
  <wsdl:message name="GetEKG_IMG_LEADSoapOut">
    <wsdl:part name="parameters" element="tns:GetEKG_IMG_LEADResponse" />
  </wsdl:message>
  <wsdl:message name="GetEKG_IMGSoapIn">
    <wsdl:part name="parameters" element="tns:GetEKG_IMG" />
  </wsdl:message>
  <wsdl:message name="GetEKG_IMGSoapOut">
    <wsdl:part name="parameters" element="tns:GetEKG_IMGResponse" />
  </wsdl:message>
  <wsdl:portType name="CARESCAPEGatewaySoap">
    <wsdl:operation name="GetEKG_IMG_LEAD">
      <wsdl:input message="tns:GetEKG_IMG_LEADSoapIn" />
      <wsdl:output message="tns:GetEKG_IMG_LEADSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEKG_IMG">
      <wsdl:input message="tns:GetEKG_IMGSoapIn" />
      <wsdl:output message="tns:GetEKG_IMGSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CARESCAPEGatewaySoap" type="tns:CARESCAPEGatewaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEKG_IMG_LEAD">
      <soap:operation soapAction="http://mayaminer.com/CARESCAPEGateway/GetEKG_IMG_LEAD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEKG_IMG">
      <soap:operation soapAction="http://mayaminer.com/CARESCAPEGateway/GetEKG_IMG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CARESCAPEGatewaySoap12" type="tns:CARESCAPEGatewaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEKG_IMG_LEAD">
      <soap12:operation soapAction="http://mayaminer.com/CARESCAPEGateway/GetEKG_IMG_LEAD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEKG_IMG">
      <soap12:operation soapAction="http://mayaminer.com/CARESCAPEGateway/GetEKG_IMG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CARESCAPEGateway">
    <wsdl:port name="CARESCAPEGatewaySoap" binding="tns:CARESCAPEGatewaySoap">
      <soap:address location="http://10.169.5.110/ECKECG/CARESCAPEGateway.asmx" />
    </wsdl:port>
    <wsdl:port name="CARESCAPEGatewaySoap12" binding="tns:CARESCAPEGatewaySoap12">
      <soap12:address location="http://10.169.5.110/ECKECG/CARESCAPEGateway.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>