NIS_ECK_Integration/NIS/Web References/JagEMRReference/EMRServiceEX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Jaguar.Technology/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Jaguar.Technology/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Jaguar.Technology/">
      <s:element name="UploadEMRFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Base64Str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadEMRFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadEMRFileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadEMRFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadEMRFile" />
  </wsdl:message>
  <wsdl:message name="UploadEMRFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadEMRFileResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="UploadEMRFile">
      <wsdl:input message="tns:UploadEMRFileSoapIn" />
      <wsdl:output message="tns:UploadEMRFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadEMRFile">
      <soap:operation soapAction="http://Jaguar.Technology/UploadEMRFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadEMRFile">
      <soap12:operation soapAction="http://Jaguar.Technology/UploadEMRFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://10.65.1.128/JTWebServiceEX/EMRServiceEX.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://10.65.1.128/JTWebServiceEX/EMRServiceEX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>