NIS_ECK_Integration/NIS/Web References/EMR_D/JTEMRWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetGuid">
        <s:complexType />
      </s:element>
      <s:element name="GetGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGuidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountUnSignedRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sRequestUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountUnSignedRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountUnSignedRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountUnSignedRequestWithSystem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sRequestUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSystem" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountUnSignedRequestWithSystemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountUnSignedRequestWithSystemResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentURLWithXslt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentURLWithXsltResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentURLWithXsltResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentURLWithXslt_SysKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMR_SysKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentURLWithXslt_SysKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentURLWithXslt_SysKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_KeyTableWithRequestUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingSystem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateStart" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_KeyTableWithRequestUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_KeyTableWithRequestUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_KeyTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingSystem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingFlag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_KeyTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_KeyTableResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_KeyTableWithRequestPatientId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestPatientId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingSystem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateStart" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_KeyTableWithRequestPatientIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_KeyTableWithRequestPatientIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKeyTableWithRequestUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingSystem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateStart" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKeyTableWithRequestUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKeyTableWithRequestUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKeyTableWithRequestPatientId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestPatientId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingSystem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateStart" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKeyTableWithRequestPatientIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKeyTableWithRequestPatientIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlpath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addImageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Emrlog_WS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sAdminID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRemark" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Emrlog_WSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Emrlog_WSResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestPath">
        <s:complexType />
      </s:element>
      <s:element name="TestPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestPathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="db_ExecuteQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SqlQuery" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="myResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="db_ExecuteQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="db_ExecuteQueryResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="myResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="db_ExecuteNonQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SqlQuery" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="myresult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="db_ExecuteNonQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="db_ExecuteNonQueryResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="myresult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getConfigSeting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Config" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getConfigSetingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getConfigSetingResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Config" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetConfigSeting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="X" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Y" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Height" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Width" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetConfigSetingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetConfigSetingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dFnc_EMR_LIST_Data">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateStart" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateEnd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="myResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dFnc_EMR_LIST_DataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dFnc_EMR_LIST_DataResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="myResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_DocumentURLWithXslt_SysKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMR_SysKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_DocumentURLWithXslt_SysKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_DocumentURLWithXslt_SysKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="remart_request">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Remark_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Remark_reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AdminID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="remart_requestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="remart_requestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="remark_request_DocParent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Remark_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Remark_reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestDocParent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AdminID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="remark_request_DocParentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="remark_request_DocParentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Group_remark_request">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Remark_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Remark_reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestDOCType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AdminID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Group_remark_requestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Group_remark_requestResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentURLWithXslt_NoLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentURLWithXslt_NoLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentURLWithXslt_NoLogResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentURLWithXslt_NoLog_SysKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMR_SysKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentURLWithXslt_NoLog_SysKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentURLWithXslt_NoLog_SysKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_DocumentURLWithXslt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_DocumentURLWithXsltResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_DocumentURLWithXsltResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEMRXSLTPath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="flag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEMRXSLTPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEMRXSLTPathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOrgPfxAndCer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="flag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrgPfx" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="OrgCer" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOrgPfxAndCerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOrgPfxAndCerResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrgPfx" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="OrgCer" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="readEMRConnectionStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tempStr1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="readEMRConnectionStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="readEMRConnectionStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransformXml2Html">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XsltPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HtmlFile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransformXml2HtmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransformXml2HtmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSignature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sRequestUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSignatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckSignatureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferUTF8">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferUTF8Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransferUTF8Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkPrint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sRequestPatientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestDocParent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkPrintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkPrintResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetGuid" />
  </wsdl:message>
  <wsdl:message name="GetGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetGuidResponse" />
  </wsdl:message>
  <wsdl:message name="CountUnSignedRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CountUnSignedRequest" />
  </wsdl:message>
  <wsdl:message name="CountUnSignedRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CountUnSignedRequestResponse" />
  </wsdl:message>
  <wsdl:message name="CountUnSignedRequestWithSystemSoapIn">
    <wsdl:part name="parameters" element="tns:CountUnSignedRequestWithSystem" />
  </wsdl:message>
  <wsdl:message name="CountUnSignedRequestWithSystemSoapOut">
    <wsdl:part name="parameters" element="tns:CountUnSignedRequestWithSystemResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentURLWithXsltSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentURLWithXslt" />
  </wsdl:message>
  <wsdl:message name="GetDocumentURLWithXsltSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentURLWithXsltResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentURLWithXslt_SysKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentURLWithXslt_SysKey" />
  </wsdl:message>
  <wsdl:message name="GetDocumentURLWithXslt_SysKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentURLWithXslt_SysKeyResponse" />
  </wsdl:message>
  <wsdl:message name="Get_KeyTableWithRequestUserSoapIn">
    <wsdl:part name="parameters" element="tns:Get_KeyTableWithRequestUser" />
  </wsdl:message>
  <wsdl:message name="Get_KeyTableWithRequestUserSoapOut">
    <wsdl:part name="parameters" element="tns:Get_KeyTableWithRequestUserResponse" />
  </wsdl:message>
  <wsdl:message name="Get_KeyTableSoapIn">
    <wsdl:part name="parameters" element="tns:Get_KeyTable" />
  </wsdl:message>
  <wsdl:message name="Get_KeyTableSoapOut">
    <wsdl:part name="parameters" element="tns:Get_KeyTableResponse" />
  </wsdl:message>
  <wsdl:message name="Get_KeyTableWithRequestPatientIdSoapIn">
    <wsdl:part name="parameters" element="tns:Get_KeyTableWithRequestPatientId" />
  </wsdl:message>
  <wsdl:message name="Get_KeyTableWithRequestPatientIdSoapOut">
    <wsdl:part name="parameters" element="tns:Get_KeyTableWithRequestPatientIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetKeyTableWithRequestUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetKeyTableWithRequestUser" />
  </wsdl:message>
  <wsdl:message name="GetKeyTableWithRequestUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetKeyTableWithRequestUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetKeyTableWithRequestPatientIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetKeyTableWithRequestPatientId" />
  </wsdl:message>
  <wsdl:message name="GetKeyTableWithRequestPatientIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetKeyTableWithRequestPatientIdResponse" />
  </wsdl:message>
  <wsdl:message name="addImageSoapIn">
    <wsdl:part name="parameters" element="tns:addImage" />
  </wsdl:message>
  <wsdl:message name="addImageSoapOut">
    <wsdl:part name="parameters" element="tns:addImageResponse" />
  </wsdl:message>
  <wsdl:message name="Emrlog_WSSoapIn">
    <wsdl:part name="parameters" element="tns:Emrlog_WS" />
  </wsdl:message>
  <wsdl:message name="Emrlog_WSSoapOut">
    <wsdl:part name="parameters" element="tns:Emrlog_WSResponse" />
  </wsdl:message>
  <wsdl:message name="TestPathSoapIn">
    <wsdl:part name="parameters" element="tns:TestPath" />
  </wsdl:message>
  <wsdl:message name="TestPathSoapOut">
    <wsdl:part name="parameters" element="tns:TestPathResponse" />
  </wsdl:message>
  <wsdl:message name="db_ExecuteQuerySoapIn">
    <wsdl:part name="parameters" element="tns:db_ExecuteQuery" />
  </wsdl:message>
  <wsdl:message name="db_ExecuteQuerySoapOut">
    <wsdl:part name="parameters" element="tns:db_ExecuteQueryResponse" />
  </wsdl:message>
  <wsdl:message name="db_ExecuteNonQuerySoapIn">
    <wsdl:part name="parameters" element="tns:db_ExecuteNonQuery" />
  </wsdl:message>
  <wsdl:message name="db_ExecuteNonQuerySoapOut">
    <wsdl:part name="parameters" element="tns:db_ExecuteNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="getConfigSetingSoapIn">
    <wsdl:part name="parameters" element="tns:getConfigSeting" />
  </wsdl:message>
  <wsdl:message name="getConfigSetingSoapOut">
    <wsdl:part name="parameters" element="tns:getConfigSetingResponse" />
  </wsdl:message>
  <wsdl:message name="SetConfigSetingSoapIn">
    <wsdl:part name="parameters" element="tns:SetConfigSeting" />
  </wsdl:message>
  <wsdl:message name="SetConfigSetingSoapOut">
    <wsdl:part name="parameters" element="tns:SetConfigSetingResponse" />
  </wsdl:message>
  <wsdl:message name="dFnc_EMR_LIST_DataSoapIn">
    <wsdl:part name="parameters" element="tns:dFnc_EMR_LIST_Data" />
  </wsdl:message>
  <wsdl:message name="dFnc_EMR_LIST_DataSoapOut">
    <wsdl:part name="parameters" element="tns:dFnc_EMR_LIST_DataResponse" />
  </wsdl:message>
  <wsdl:message name="Get_DocumentURLWithXslt_SysKeySoapIn">
    <wsdl:part name="parameters" element="tns:Get_DocumentURLWithXslt_SysKey" />
  </wsdl:message>
  <wsdl:message name="Get_DocumentURLWithXslt_SysKeySoapOut">
    <wsdl:part name="parameters" element="tns:Get_DocumentURLWithXslt_SysKeyResponse" />
  </wsdl:message>
  <wsdl:message name="remart_requestSoapIn">
    <wsdl:part name="parameters" element="tns:remart_request" />
  </wsdl:message>
  <wsdl:message name="remart_requestSoapOut">
    <wsdl:part name="parameters" element="tns:remart_requestResponse" />
  </wsdl:message>
  <wsdl:message name="remark_request_DocParentSoapIn">
    <wsdl:part name="parameters" element="tns:remark_request_DocParent" />
  </wsdl:message>
  <wsdl:message name="remark_request_DocParentSoapOut">
    <wsdl:part name="parameters" element="tns:remark_request_DocParentResponse" />
  </wsdl:message>
  <wsdl:message name="Group_remark_requestSoapIn">
    <wsdl:part name="parameters" element="tns:Group_remark_request" />
  </wsdl:message>
  <wsdl:message name="Group_remark_requestSoapOut">
    <wsdl:part name="parameters" element="tns:Group_remark_requestResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentURLWithXslt_NoLogSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentURLWithXslt_NoLog" />
  </wsdl:message>
  <wsdl:message name="GetDocumentURLWithXslt_NoLogSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentURLWithXslt_NoLogResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentURLWithXslt_NoLog_SysKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentURLWithXslt_NoLog_SysKey" />
  </wsdl:message>
  <wsdl:message name="GetDocumentURLWithXslt_NoLog_SysKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentURLWithXslt_NoLog_SysKeyResponse" />
  </wsdl:message>
  <wsdl:message name="Get_DocumentURLWithXsltSoapIn">
    <wsdl:part name="parameters" element="tns:Get_DocumentURLWithXslt" />
  </wsdl:message>
  <wsdl:message name="Get_DocumentURLWithXsltSoapOut">
    <wsdl:part name="parameters" element="tns:Get_DocumentURLWithXsltResponse" />
  </wsdl:message>
  <wsdl:message name="getEMRXSLTPathSoapIn">
    <wsdl:part name="parameters" element="tns:getEMRXSLTPath" />
  </wsdl:message>
  <wsdl:message name="getEMRXSLTPathSoapOut">
    <wsdl:part name="parameters" element="tns:getEMRXSLTPathResponse" />
  </wsdl:message>
  <wsdl:message name="getOrgPfxAndCerSoapIn">
    <wsdl:part name="parameters" element="tns:getOrgPfxAndCer" />
  </wsdl:message>
  <wsdl:message name="getOrgPfxAndCerSoapOut">
    <wsdl:part name="parameters" element="tns:getOrgPfxAndCerResponse" />
  </wsdl:message>
  <wsdl:message name="readEMRConnectionStatusSoapIn">
    <wsdl:part name="parameters" element="tns:readEMRConnectionStatus" />
  </wsdl:message>
  <wsdl:message name="readEMRConnectionStatusSoapOut">
    <wsdl:part name="parameters" element="tns:readEMRConnectionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="TransformXml2HtmlSoapIn">
    <wsdl:part name="parameters" element="tns:TransformXml2Html" />
  </wsdl:message>
  <wsdl:message name="TransformXml2HtmlSoapOut">
    <wsdl:part name="parameters" element="tns:TransformXml2HtmlResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSignatureSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSignature" />
  </wsdl:message>
  <wsdl:message name="CheckSignatureSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSignatureResponse" />
  </wsdl:message>
  <wsdl:message name="TransferUTF8SoapIn">
    <wsdl:part name="parameters" element="tns:TransferUTF8" />
  </wsdl:message>
  <wsdl:message name="TransferUTF8SoapOut">
    <wsdl:part name="parameters" element="tns:TransferUTF8Response" />
  </wsdl:message>
  <wsdl:message name="checkPrintSoapIn">
    <wsdl:part name="parameters" element="tns:checkPrint" />
  </wsdl:message>
  <wsdl:message name="checkPrintSoapOut">
    <wsdl:part name="parameters" element="tns:checkPrintResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetGuid">
      <wsdl:input message="tns:GetGuidSoapIn" />
      <wsdl:output message="tns:GetGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountUnSignedRequest">
      <wsdl:input message="tns:CountUnSignedRequestSoapIn" />
      <wsdl:output message="tns:CountUnSignedRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountUnSignedRequestWithSystem">
      <wsdl:input message="tns:CountUnSignedRequestWithSystemSoapIn" />
      <wsdl:output message="tns:CountUnSignedRequestWithSystemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentURLWithXslt">
      <wsdl:input message="tns:GetDocumentURLWithXsltSoapIn" />
      <wsdl:output message="tns:GetDocumentURLWithXsltSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentURLWithXslt_SysKey">
      <wsdl:input message="tns:GetDocumentURLWithXslt_SysKeySoapIn" />
      <wsdl:output message="tns:GetDocumentURLWithXslt_SysKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_KeyTableWithRequestUser">
      <wsdl:input message="tns:Get_KeyTableWithRequestUserSoapIn" />
      <wsdl:output message="tns:Get_KeyTableWithRequestUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_KeyTable">
      <wsdl:input message="tns:Get_KeyTableSoapIn" />
      <wsdl:output message="tns:Get_KeyTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_KeyTableWithRequestPatientId">
      <wsdl:input message="tns:Get_KeyTableWithRequestPatientIdSoapIn" />
      <wsdl:output message="tns:Get_KeyTableWithRequestPatientIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetKeyTableWithRequestUser">
      <wsdl:input message="tns:GetKeyTableWithRequestUserSoapIn" />
      <wsdl:output message="tns:GetKeyTableWithRequestUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetKeyTableWithRequestPatientId">
      <wsdl:input message="tns:GetKeyTableWithRequestPatientIdSoapIn" />
      <wsdl:output message="tns:GetKeyTableWithRequestPatientIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addImage">
      <wsdl:input message="tns:addImageSoapIn" />
      <wsdl:output message="tns:addImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Emrlog_WS">
      <wsdl:input message="tns:Emrlog_WSSoapIn" />
      <wsdl:output message="tns:Emrlog_WSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestPath">
      <wsdl:input message="tns:TestPathSoapIn" />
      <wsdl:output message="tns:TestPathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="db_ExecuteQuery">
      <wsdl:input message="tns:db_ExecuteQuerySoapIn" />
      <wsdl:output message="tns:db_ExecuteQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="db_ExecuteNonQuery">
      <wsdl:input message="tns:db_ExecuteNonQuerySoapIn" />
      <wsdl:output message="tns:db_ExecuteNonQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getConfigSeting">
      <wsdl:input message="tns:getConfigSetingSoapIn" />
      <wsdl:output message="tns:getConfigSetingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetConfigSeting">
      <wsdl:input message="tns:SetConfigSetingSoapIn" />
      <wsdl:output message="tns:SetConfigSetingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dFnc_EMR_LIST_Data">
      <wsdl:input message="tns:dFnc_EMR_LIST_DataSoapIn" />
      <wsdl:output message="tns:dFnc_EMR_LIST_DataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_DocumentURLWithXslt_SysKey">
      <wsdl:input message="tns:Get_DocumentURLWithXslt_SysKeySoapIn" />
      <wsdl:output message="tns:Get_DocumentURLWithXslt_SysKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="remart_request">
      <wsdl:input message="tns:remart_requestSoapIn" />
      <wsdl:output message="tns:remart_requestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="remark_request_DocParent">
      <wsdl:input message="tns:remark_request_DocParentSoapIn" />
      <wsdl:output message="tns:remark_request_DocParentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Group_remark_request">
      <wsdl:input message="tns:Group_remark_requestSoapIn" />
      <wsdl:output message="tns:Group_remark_requestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentURLWithXslt_NoLog">
      <wsdl:input message="tns:GetDocumentURLWithXslt_NoLogSoapIn" />
      <wsdl:output message="tns:GetDocumentURLWithXslt_NoLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentURLWithXslt_NoLog_SysKey">
      <wsdl:input message="tns:GetDocumentURLWithXslt_NoLog_SysKeySoapIn" />
      <wsdl:output message="tns:GetDocumentURLWithXslt_NoLog_SysKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_DocumentURLWithXslt">
      <wsdl:input message="tns:Get_DocumentURLWithXsltSoapIn" />
      <wsdl:output message="tns:Get_DocumentURLWithXsltSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEMRXSLTPath">
      <wsdl:input message="tns:getEMRXSLTPathSoapIn" />
      <wsdl:output message="tns:getEMRXSLTPathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getOrgPfxAndCer">
      <wsdl:input message="tns:getOrgPfxAndCerSoapIn" />
      <wsdl:output message="tns:getOrgPfxAndCerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="readEMRConnectionStatus">
      <wsdl:input message="tns:readEMRConnectionStatusSoapIn" />
      <wsdl:output message="tns:readEMRConnectionStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransformXml2Html">
      <wsdl:input message="tns:TransformXml2HtmlSoapIn" />
      <wsdl:output message="tns:TransformXml2HtmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSignature">
      <wsdl:input message="tns:CheckSignatureSoapIn" />
      <wsdl:output message="tns:CheckSignatureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransferUTF8">
      <wsdl:input message="tns:TransferUTF8SoapIn" />
      <wsdl:output message="tns:TransferUTF8SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkPrint">
      <wsdl:input message="tns:checkPrintSoapIn" />
      <wsdl:output message="tns:checkPrintSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGuid">
      <soap:operation soapAction="http://tempuri.org/GetGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUnSignedRequest">
      <soap:operation soapAction="http://tempuri.org/CountUnSignedRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUnSignedRequestWithSystem">
      <soap:operation soapAction="http://tempuri.org/CountUnSignedRequestWithSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentURLWithXslt">
      <soap:operation soapAction="http://tempuri.org/GetDocumentURLWithXslt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentURLWithXslt_SysKey">
      <soap:operation soapAction="http://tempuri.org/GetDocumentURLWithXslt_SysKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_KeyTableWithRequestUser">
      <soap:operation soapAction="http://tempuri.org/Get_KeyTableWithRequestUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_KeyTable">
      <soap:operation soapAction="http://tempuri.org/Get_KeyTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_KeyTableWithRequestPatientId">
      <soap:operation soapAction="http://tempuri.org/Get_KeyTableWithRequestPatientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyTableWithRequestUser">
      <soap:operation soapAction="http://tempuri.org/GetKeyTableWithRequestUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyTableWithRequestPatientId">
      <soap:operation soapAction="http://tempuri.org/GetKeyTableWithRequestPatientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addImage">
      <soap:operation soapAction="http://tempuri.org/addImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Emrlog_WS">
      <soap:operation soapAction="http://tempuri.org/Emrlog_WS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestPath">
      <soap:operation soapAction="http://tempuri.org/TestPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="db_ExecuteQuery">
      <soap:operation soapAction="http://tempuri.org/db_ExecuteQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="db_ExecuteNonQuery">
      <soap:operation soapAction="http://tempuri.org/db_ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConfigSeting">
      <soap:operation soapAction="http://tempuri.org/getConfigSeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetConfigSeting">
      <soap:operation soapAction="http://tempuri.org/SetConfigSeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dFnc_EMR_LIST_Data">
      <soap:operation soapAction="http://tempuri.org/dFnc_EMR_LIST_Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_DocumentURLWithXslt_SysKey">
      <soap:operation soapAction="http://tempuri.org/Get_DocumentURLWithXslt_SysKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remart_request">
      <soap:operation soapAction="http://tempuri.org/remart_request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remark_request_DocParent">
      <soap:operation soapAction="http://tempuri.org/remark_request_DocParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Group_remark_request">
      <soap:operation soapAction="http://tempuri.org/Group_remark_request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentURLWithXslt_NoLog">
      <soap:operation soapAction="http://tempuri.org/GetDocumentURLWithXslt_NoLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentURLWithXslt_NoLog_SysKey">
      <soap:operation soapAction="http://tempuri.org/GetDocumentURLWithXslt_NoLog_SysKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_DocumentURLWithXslt">
      <soap:operation soapAction="http://tempuri.org/Get_DocumentURLWithXslt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEMRXSLTPath">
      <soap:operation soapAction="http://tempuri.org/getEMRXSLTPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrgPfxAndCer">
      <soap:operation soapAction="http://tempuri.org/getOrgPfxAndCer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readEMRConnectionStatus">
      <soap:operation soapAction="http://tempuri.org/readEMRConnectionStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransformXml2Html">
      <soap:operation soapAction="http://tempuri.org/TransformXml2Html" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSignature">
      <soap:operation soapAction="http://tempuri.org/CheckSignature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferUTF8">
      <soap:operation soapAction="http://tempuri.org/TransferUTF8" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPrint">
      <soap:operation soapAction="http://tempuri.org/checkPrint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGuid">
      <soap12:operation soapAction="http://tempuri.org/GetGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUnSignedRequest">
      <soap12:operation soapAction="http://tempuri.org/CountUnSignedRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUnSignedRequestWithSystem">
      <soap12:operation soapAction="http://tempuri.org/CountUnSignedRequestWithSystem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentURLWithXslt">
      <soap12:operation soapAction="http://tempuri.org/GetDocumentURLWithXslt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentURLWithXslt_SysKey">
      <soap12:operation soapAction="http://tempuri.org/GetDocumentURLWithXslt_SysKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_KeyTableWithRequestUser">
      <soap12:operation soapAction="http://tempuri.org/Get_KeyTableWithRequestUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_KeyTable">
      <soap12:operation soapAction="http://tempuri.org/Get_KeyTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_KeyTableWithRequestPatientId">
      <soap12:operation soapAction="http://tempuri.org/Get_KeyTableWithRequestPatientId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyTableWithRequestUser">
      <soap12:operation soapAction="http://tempuri.org/GetKeyTableWithRequestUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyTableWithRequestPatientId">
      <soap12:operation soapAction="http://tempuri.org/GetKeyTableWithRequestPatientId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addImage">
      <soap12:operation soapAction="http://tempuri.org/addImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Emrlog_WS">
      <soap12:operation soapAction="http://tempuri.org/Emrlog_WS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestPath">
      <soap12:operation soapAction="http://tempuri.org/TestPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="db_ExecuteQuery">
      <soap12:operation soapAction="http://tempuri.org/db_ExecuteQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="db_ExecuteNonQuery">
      <soap12:operation soapAction="http://tempuri.org/db_ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConfigSeting">
      <soap12:operation soapAction="http://tempuri.org/getConfigSeting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetConfigSeting">
      <soap12:operation soapAction="http://tempuri.org/SetConfigSeting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dFnc_EMR_LIST_Data">
      <soap12:operation soapAction="http://tempuri.org/dFnc_EMR_LIST_Data" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_DocumentURLWithXslt_SysKey">
      <soap12:operation soapAction="http://tempuri.org/Get_DocumentURLWithXslt_SysKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remart_request">
      <soap12:operation soapAction="http://tempuri.org/remart_request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remark_request_DocParent">
      <soap12:operation soapAction="http://tempuri.org/remark_request_DocParent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Group_remark_request">
      <soap12:operation soapAction="http://tempuri.org/Group_remark_request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentURLWithXslt_NoLog">
      <soap12:operation soapAction="http://tempuri.org/GetDocumentURLWithXslt_NoLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentURLWithXslt_NoLog_SysKey">
      <soap12:operation soapAction="http://tempuri.org/GetDocumentURLWithXslt_NoLog_SysKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_DocumentURLWithXslt">
      <soap12:operation soapAction="http://tempuri.org/Get_DocumentURLWithXslt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEMRXSLTPath">
      <soap12:operation soapAction="http://tempuri.org/getEMRXSLTPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrgPfxAndCer">
      <soap12:operation soapAction="http://tempuri.org/getOrgPfxAndCer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readEMRConnectionStatus">
      <soap12:operation soapAction="http://tempuri.org/readEMRConnectionStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransformXml2Html">
      <soap12:operation soapAction="http://tempuri.org/TransformXml2Html" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSignature">
      <soap12:operation soapAction="http://tempuri.org/CheckSignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferUTF8">
      <soap12:operation soapAction="http://tempuri.org/TransferUTF8" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPrint">
      <soap12:operation soapAction="http://tempuri.org/checkPrint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://172.20.110.157/JTEMRWebService/JTEMRWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://172.20.110.157/JTEMRWebService/JTEMRWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>