NIS_ECK_Integration/NIS/Web References/EMRReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EMRExchange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HospitalNHIID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HospitalName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocDKind" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GenDocDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PatientName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PatientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChartNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhysicianID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhysicianName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Confidentiality" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CDAXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EMRExchangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EMRExchangeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EMRExchangeSoapIn">
    <wsdl:part name="parameters" element="tns:EMRExchange" />
  </wsdl:message>
  <wsdl:message name="EMRExchangeSoapOut">
    <wsdl:part name="parameters" element="tns:EMRExchangeResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="EMRExchange">
      <wsdl:input message="tns:EMRExchangeSoapIn" />
      <wsdl:output message="tns:EMRExchangeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EMRExchange">
      <soap:operation soapAction="http://tempuri.org/EMRExchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EMRExchange">
      <soap12:operation soapAction="http://tempuri.org/EMRExchange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://10.116.19.90:2018/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://10.116.19.90:2018/service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>