NIS_ECK_Integration/NIS/Web References/WebService_RCS/WEBSERVICERCS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRCSSystemURLFromIPD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AdmitNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRCSSystemURLFromIPDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRCSSystemURLFromIPDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRCSSystemURLFromIPDByResultMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AdmitNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRCSSystemURLFromIPDByResultModeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRCSSystemURLFromIPDByResultModeResult" type="tns:ServiceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="returnDataTable">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="returnJSON" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dataStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="resultMsg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRCSSystemURLFromOPD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CliniDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChartNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DuplicateNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRCSSystemURLFromOPDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRCSSystemURLFromOPDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRCSSystemURLFromOPDByResultMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CliniDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChartNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DuplicateNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRCSSystemURLFromOPDByResultModeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRCSSystemURLFromOPDByResultModeResult" type="tns:ServiceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChartNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInHistoryResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ServiceResult" nillable="true" type="tns:ServiceResult" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromIPDSoapIn">
    <wsdl:part name="parameters" element="tns:GetRCSSystemURLFromIPD" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromIPDSoapOut">
    <wsdl:part name="parameters" element="tns:GetRCSSystemURLFromIPDResponse" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromIPDByResultModeSoapIn">
    <wsdl:part name="parameters" element="tns:GetRCSSystemURLFromIPDByResultMode" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromIPDByResultModeSoapOut">
    <wsdl:part name="parameters" element="tns:GetRCSSystemURLFromIPDByResultModeResponse" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromOPDSoapIn">
    <wsdl:part name="parameters" element="tns:GetRCSSystemURLFromOPD" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromOPDSoapOut">
    <wsdl:part name="parameters" element="tns:GetRCSSystemURLFromOPDResponse" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromOPDByResultModeSoapIn">
    <wsdl:part name="parameters" element="tns:GetRCSSystemURLFromOPDByResultMode" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromOPDByResultModeSoapOut">
    <wsdl:part name="parameters" element="tns:GetRCSSystemURLFromOPDByResultModeResponse" />
  </wsdl:message>
  <wsdl:message name="GetInHistorySoapIn">
    <wsdl:part name="parameters" element="tns:GetInHistory" />
  </wsdl:message>
  <wsdl:message name="GetInHistorySoapOut">
    <wsdl:part name="parameters" element="tns:GetInHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromIPDHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="AdmitNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromIPDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromIPDByResultModeHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="AdmitNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromIPDByResultModeHttpGetOut">
    <wsdl:part name="Body" element="tns:ServiceResult" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromOPDHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="CliniDate" type="s:string" />
    <wsdl:part name="ChartNo" type="s:string" />
    <wsdl:part name="DuplicateNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromOPDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromOPDByResultModeHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="CliniDate" type="s:string" />
    <wsdl:part name="ChartNo" type="s:string" />
    <wsdl:part name="DuplicateNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromOPDByResultModeHttpGetOut">
    <wsdl:part name="Body" element="tns:ServiceResult" />
  </wsdl:message>
  <wsdl:message name="GetInHistoryHttpGetIn">
    <wsdl:part name="ChartNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetInHistoryHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromIPDHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="AdmitNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromIPDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromIPDByResultModeHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="AdmitNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromIPDByResultModeHttpPostOut">
    <wsdl:part name="Body" element="tns:ServiceResult" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromOPDHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="CliniDate" type="s:string" />
    <wsdl:part name="ChartNo" type="s:string" />
    <wsdl:part name="DuplicateNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromOPDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromOPDByResultModeHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="CliniDate" type="s:string" />
    <wsdl:part name="ChartNo" type="s:string" />
    <wsdl:part name="DuplicateNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRCSSystemURLFromOPDByResultModeHttpPostOut">
    <wsdl:part name="Body" element="tns:ServiceResult" />
  </wsdl:message>
  <wsdl:message name="GetInHistoryHttpPostIn">
    <wsdl:part name="ChartNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetInHistoryHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:portType name="WebServiceRCSSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromIPD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得住院病人呼吸照護系統URL</wsdl:documentation>
      <wsdl:input message="tns:GetRCSSystemURLFromIPDSoapIn" />
      <wsdl:output message="tns:GetRCSSystemURLFromIPDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromIPDByResultMode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得住院病人呼吸照護系統URL</wsdl:documentation>
      <wsdl:input message="tns:GetRCSSystemURLFromIPDByResultModeSoapIn" />
      <wsdl:output message="tns:GetRCSSystemURLFromIPDByResultModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromOPD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得門急診病人呼吸照護系統URL</wsdl:documentation>
      <wsdl:input message="tns:GetRCSSystemURLFromOPDSoapIn" />
      <wsdl:output message="tns:GetRCSSystemURLFromOPDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromOPDByResultMode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得門急診病人呼吸照護系統URL</wsdl:documentation>
      <wsdl:input message="tns:GetRCSSystemURLFromOPDByResultModeSoapIn" />
      <wsdl:output message="tns:GetRCSSystemURLFromOPDByResultModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInHistory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得病人住院歷史記錄</wsdl:documentation>
      <wsdl:input message="tns:GetInHistorySoapIn" />
      <wsdl:output message="tns:GetInHistorySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceRCSHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromIPD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得住院病人呼吸照護系統URL</wsdl:documentation>
      <wsdl:input message="tns:GetRCSSystemURLFromIPDHttpGetIn" />
      <wsdl:output message="tns:GetRCSSystemURLFromIPDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromIPDByResultMode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得住院病人呼吸照護系統URL</wsdl:documentation>
      <wsdl:input message="tns:GetRCSSystemURLFromIPDByResultModeHttpGetIn" />
      <wsdl:output message="tns:GetRCSSystemURLFromIPDByResultModeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromOPD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得門急診病人呼吸照護系統URL</wsdl:documentation>
      <wsdl:input message="tns:GetRCSSystemURLFromOPDHttpGetIn" />
      <wsdl:output message="tns:GetRCSSystemURLFromOPDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromOPDByResultMode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得門急診病人呼吸照護系統URL</wsdl:documentation>
      <wsdl:input message="tns:GetRCSSystemURLFromOPDByResultModeHttpGetIn" />
      <wsdl:output message="tns:GetRCSSystemURLFromOPDByResultModeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInHistory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得病人住院歷史記錄</wsdl:documentation>
      <wsdl:input message="tns:GetInHistoryHttpGetIn" />
      <wsdl:output message="tns:GetInHistoryHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceRCSHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromIPD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得住院病人呼吸照護系統URL</wsdl:documentation>
      <wsdl:input message="tns:GetRCSSystemURLFromIPDHttpPostIn" />
      <wsdl:output message="tns:GetRCSSystemURLFromIPDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromIPDByResultMode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得住院病人呼吸照護系統URL</wsdl:documentation>
      <wsdl:input message="tns:GetRCSSystemURLFromIPDByResultModeHttpPostIn" />
      <wsdl:output message="tns:GetRCSSystemURLFromIPDByResultModeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromOPD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得門急診病人呼吸照護系統URL</wsdl:documentation>
      <wsdl:input message="tns:GetRCSSystemURLFromOPDHttpPostIn" />
      <wsdl:output message="tns:GetRCSSystemURLFromOPDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromOPDByResultMode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得門急診病人呼吸照護系統URL</wsdl:documentation>
      <wsdl:input message="tns:GetRCSSystemURLFromOPDByResultModeHttpPostIn" />
      <wsdl:output message="tns:GetRCSSystemURLFromOPDByResultModeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInHistory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得病人住院歷史記錄</wsdl:documentation>
      <wsdl:input message="tns:GetInHistoryHttpPostIn" />
      <wsdl:output message="tns:GetInHistoryHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceRCSSoap" type="tns:WebServiceRCSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromIPD">
      <soap:operation soapAction="http://tempuri.org/GetRCSSystemURLFromIPD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromIPDByResultMode">
      <soap:operation soapAction="http://tempuri.org/GetRCSSystemURLFromIPDByResultMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromOPD">
      <soap:operation soapAction="http://tempuri.org/GetRCSSystemURLFromOPD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromOPDByResultMode">
      <soap:operation soapAction="http://tempuri.org/GetRCSSystemURLFromOPDByResultMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInHistory">
      <soap:operation soapAction="http://tempuri.org/GetInHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceRCSSoap12" type="tns:WebServiceRCSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromIPD">
      <soap12:operation soapAction="http://tempuri.org/GetRCSSystemURLFromIPD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromIPDByResultMode">
      <soap12:operation soapAction="http://tempuri.org/GetRCSSystemURLFromIPDByResultMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromOPD">
      <soap12:operation soapAction="http://tempuri.org/GetRCSSystemURLFromOPD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromOPDByResultMode">
      <soap12:operation soapAction="http://tempuri.org/GetRCSSystemURLFromOPDByResultMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInHistory">
      <soap12:operation soapAction="http://tempuri.org/GetInHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceRCSHttpGet" type="tns:WebServiceRCSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromIPD">
      <http:operation location="/GetRCSSystemURLFromIPD" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromIPDByResultMode">
      <http:operation location="/GetRCSSystemURLFromIPDByResultMode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromOPD">
      <http:operation location="/GetRCSSystemURLFromOPD" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromOPDByResultMode">
      <http:operation location="/GetRCSSystemURLFromOPDByResultMode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInHistory">
      <http:operation location="/GetInHistory" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceRCSHttpPost" type="tns:WebServiceRCSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromIPD">
      <http:operation location="/GetRCSSystemURLFromIPD" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromIPDByResultMode">
      <http:operation location="/GetRCSSystemURLFromIPDByResultMode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromOPD">
      <http:operation location="/GetRCSSystemURLFromOPD" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRCSSystemURLFromOPDByResultMode">
      <http:operation location="/GetRCSSystemURLFromOPDByResultMode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInHistory">
      <http:operation location="/GetInHistory" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceRCS">
    <wsdl:port name="WebServiceRCSSoap" binding="tns:WebServiceRCSSoap">
      <soap:address location="http://172.20.110.32/INTERNALWEBSERVICE/WEBSERVICERCS.ASMX" />
    </wsdl:port>
    <wsdl:port name="WebServiceRCSSoap12" binding="tns:WebServiceRCSSoap12">
      <soap12:address location="http://172.20.110.32/INTERNALWEBSERVICE/WEBSERVICERCS.ASMX" />
    </wsdl:port>
    <wsdl:port name="WebServiceRCSHttpGet" binding="tns:WebServiceRCSHttpGet">
      <http:address location="http://172.20.110.32/INTERNALWEBSERVICE/WEBSERVICERCS.ASMX" />
    </wsdl:port>
    <wsdl:port name="WebServiceRCSHttpPost" binding="tns:WebServiceRCSHttpPost">
      <http:address location="http://172.20.110.32/INTERNALWEBSERVICE/WEBSERVICERCS.ASMX" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>