NIS_ECK_Integration/NIS/Service References/ServiceReference1/TCDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://10.65.1.55/teamcare/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://10.65.1.55/teamcare/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://10.65.1.55/teamcare/">
      <s:element name="AddTeamCareRecordMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUserPWD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pFee_NO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pRecordMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pReceiveDept" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pMessageType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTeamCareRecordMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddTeamCareRecordMessageResult" type="tns:ServiceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="State" type="tns:ServiceResultState" />
          <s:element minOccurs="0" maxOccurs="1" name="SubCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ServiceResultState">
        <s:restriction base="s:string">
          <s:enumeration value="Fail" />
          <s:enumeration value="None" />
          <s:enumeration value="Success" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddTeamCareRecordMessageForDotNet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pSaveData" type="tns:MessageSaveData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MessageSaveData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPWD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PatFeeNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecordMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiveDept" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NutriResult" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddTeamCareRecordMessageForDotNetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddTeamCareRecordMessageForDotNetResult" type="tns:ServiceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNutritionResultForDotNet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pSaveData" type="tns:MessageSaveData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNutritionResultForDotNetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNutritionResultForDotNetResult" type="tns:ServiceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReferral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUserPWD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pFee_NO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pRecordMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pMessageType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReferralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateReferralResult" type="tns:ServiceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReferralForDotNet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pSaveData" type="tns:MessageSaveData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReferralForDotNetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateReferralForDotNetResult" type="tns:ServiceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddTeamCareRecordMessageSoapIn">
    <wsdl:part name="parameters" element="tns:AddTeamCareRecordMessage" />
  </wsdl:message>
  <wsdl:message name="AddTeamCareRecordMessageSoapOut">
    <wsdl:part name="parameters" element="tns:AddTeamCareRecordMessageResponse" />
  </wsdl:message>
  <wsdl:message name="AddTeamCareRecordMessageForDotNetSoapIn">
    <wsdl:part name="parameters" element="tns:AddTeamCareRecordMessageForDotNet" />
  </wsdl:message>
  <wsdl:message name="AddTeamCareRecordMessageForDotNetSoapOut">
    <wsdl:part name="parameters" element="tns:AddTeamCareRecordMessageForDotNetResponse" />
  </wsdl:message>
  <wsdl:message name="AddNutritionResultForDotNetSoapIn">
    <wsdl:part name="parameters" element="tns:AddNutritionResultForDotNet" />
  </wsdl:message>
  <wsdl:message name="AddNutritionResultForDotNetSoapOut">
    <wsdl:part name="parameters" element="tns:AddNutritionResultForDotNetResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateReferralSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateReferral" />
  </wsdl:message>
  <wsdl:message name="UpdateReferralSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateReferralResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateReferralForDotNetSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateReferralForDotNet" />
  </wsdl:message>
  <wsdl:message name="UpdateReferralForDotNetSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateReferralForDotNetResponse" />
  </wsdl:message>
  <wsdl:portType name="TCDataServiceSoap">
    <wsdl:operation name="AddTeamCareRecordMessage">
      <wsdl:input message="tns:AddTeamCareRecordMessageSoapIn" />
      <wsdl:output message="tns:AddTeamCareRecordMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTeamCareRecordMessageForDotNet">
      <wsdl:input message="tns:AddTeamCareRecordMessageForDotNetSoapIn" />
      <wsdl:output message="tns:AddTeamCareRecordMessageForDotNetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNutritionResultForDotNet">
      <wsdl:input message="tns:AddNutritionResultForDotNetSoapIn" />
      <wsdl:output message="tns:AddNutritionResultForDotNetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReferral">
      <wsdl:input message="tns:UpdateReferralSoapIn" />
      <wsdl:output message="tns:UpdateReferralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReferralForDotNet">
      <wsdl:input message="tns:UpdateReferralForDotNetSoapIn" />
      <wsdl:output message="tns:UpdateReferralForDotNetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TCDataServiceSoap" type="tns:TCDataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTeamCareRecordMessage">
      <soap:operation soapAction="http://10.65.1.55/teamcare/AddTeamCareRecordMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeamCareRecordMessageForDotNet">
      <soap:operation soapAction="http://10.65.1.55/teamcare/AddTeamCareRecordMessageForDotNet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNutritionResultForDotNet">
      <soap:operation soapAction="http://10.65.1.55/teamcare/AddNutritionResultForDotNet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReferral">
      <soap:operation soapAction="http://10.65.1.55/teamcare/UpdateReferral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReferralForDotNet">
      <soap:operation soapAction="http://10.65.1.55/teamcare/UpdateReferralForDotNet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TCDataServiceSoap12" type="tns:TCDataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTeamCareRecordMessage">
      <soap12:operation soapAction="http://10.65.1.55/teamcare/AddTeamCareRecordMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeamCareRecordMessageForDotNet">
      <soap12:operation soapAction="http://10.65.1.55/teamcare/AddTeamCareRecordMessageForDotNet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNutritionResultForDotNet">
      <soap12:operation soapAction="http://10.65.1.55/teamcare/AddNutritionResultForDotNet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReferral">
      <soap12:operation soapAction="http://10.65.1.55/teamcare/UpdateReferral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReferralForDotNet">
      <soap12:operation soapAction="http://10.65.1.55/teamcare/UpdateReferralForDotNet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TCDataService">
    <wsdl:port name="TCDataServiceSoap" binding="tns:TCDataServiceSoap">
      <soap:address location="http://10.125.254.38/teamcare/TCDataService.asmx" />
    </wsdl:port>
    <wsdl:port name="TCDataServiceSoap12" binding="tns:TCDataServiceSoap12">
      <soap12:address location="http://10.125.254.38/teamcare/TCDataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>