NIS_ECK_WS/App_WebReferences/GetEBM/GetEBMWsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Show_PACS_HTML5_VIEWER_V2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyStrs2" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="PACS_USER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PACS_PW" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChartNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccessionNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Show_PACS_HTML5_VIEWER_V2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Show_PACS_HTML5_VIEWER_V2Result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Show_PACS_HTML5_VIEWER">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyStrs2" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="PACS_USER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PACS_PW" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChartNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccessionNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Show_PACS_HTML5_VIEWERResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Show_PACS_HTML5_VIEWERResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Show_PACS_WEB_VIEWER_V2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyStrs2" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="HIS_User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HIS_PW" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChartNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplyNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Show_PACS_WEB_VIEWER_V2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Show_PACS_WEB_VIEWER_V2Result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Show_PACS_WEB_VIEWER">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyStrs2" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="HIS_User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HIS_PW" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChartNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplyNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Show_PACS_WEB_VIEWERResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Show_PACS_WEB_VIEWERResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniReportTextResult_V2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyStrs2" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplyNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniReportTextResult_V2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UniReportTextResult_V2Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniReportTextResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyStrs2" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplyNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniReportTextResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UniReportTextResultResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Show_PACS_HTML5_VIEWER_V2SoapIn">
    <wsdl:part name="parameters" element="tns:Show_PACS_HTML5_VIEWER_V2" />
  </wsdl:message>
  <wsdl:message name="Show_PACS_HTML5_VIEWER_V2SoapOut">
    <wsdl:part name="parameters" element="tns:Show_PACS_HTML5_VIEWER_V2Response" />
  </wsdl:message>
  <wsdl:message name="Show_PACS_HTML5_VIEWERSoapIn">
    <wsdl:part name="parameters" element="tns:Show_PACS_HTML5_VIEWER" />
  </wsdl:message>
  <wsdl:message name="Show_PACS_HTML5_VIEWERSoapOut">
    <wsdl:part name="parameters" element="tns:Show_PACS_HTML5_VIEWERResponse" />
  </wsdl:message>
  <wsdl:message name="Show_PACS_WEB_VIEWER_V2SoapIn">
    <wsdl:part name="parameters" element="tns:Show_PACS_WEB_VIEWER_V2" />
  </wsdl:message>
  <wsdl:message name="Show_PACS_WEB_VIEWER_V2SoapOut">
    <wsdl:part name="parameters" element="tns:Show_PACS_WEB_VIEWER_V2Response" />
  </wsdl:message>
  <wsdl:message name="Show_PACS_WEB_VIEWERSoapIn">
    <wsdl:part name="parameters" element="tns:Show_PACS_WEB_VIEWER" />
  </wsdl:message>
  <wsdl:message name="Show_PACS_WEB_VIEWERSoapOut">
    <wsdl:part name="parameters" element="tns:Show_PACS_WEB_VIEWERResponse" />
  </wsdl:message>
  <wsdl:message name="UniReportTextResult_V2SoapIn">
    <wsdl:part name="parameters" element="tns:UniReportTextResult_V2" />
  </wsdl:message>
  <wsdl:message name="UniReportTextResult_V2SoapOut">
    <wsdl:part name="parameters" element="tns:UniReportTextResult_V2Response" />
  </wsdl:message>
  <wsdl:message name="UniReportTextResultSoapIn">
    <wsdl:part name="parameters" element="tns:UniReportTextResult" />
  </wsdl:message>
  <wsdl:message name="UniReportTextResultSoapOut">
    <wsdl:part name="parameters" element="tns:UniReportTextResultResponse" />
  </wsdl:message>
  <wsdl:portType name="GetEBMWsServiceSoap">
    <wsdl:operation name="Show_PACS_HTML5_VIEWER_V2">
      <wsdl:input message="tns:Show_PACS_HTML5_VIEWER_V2SoapIn" />
      <wsdl:output message="tns:Show_PACS_HTML5_VIEWER_V2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Show_PACS_HTML5_VIEWER">
      <wsdl:input message="tns:Show_PACS_HTML5_VIEWERSoapIn" />
      <wsdl:output message="tns:Show_PACS_HTML5_VIEWERSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Show_PACS_WEB_VIEWER_V2">
      <wsdl:input message="tns:Show_PACS_WEB_VIEWER_V2SoapIn" />
      <wsdl:output message="tns:Show_PACS_WEB_VIEWER_V2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Show_PACS_WEB_VIEWER">
      <wsdl:input message="tns:Show_PACS_WEB_VIEWERSoapIn" />
      <wsdl:output message="tns:Show_PACS_WEB_VIEWERSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UniReportTextResult_V2">
      <wsdl:input message="tns:UniReportTextResult_V2SoapIn" />
      <wsdl:output message="tns:UniReportTextResult_V2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UniReportTextResult">
      <wsdl:input message="tns:UniReportTextResultSoapIn" />
      <wsdl:output message="tns:UniReportTextResultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetEBMWsServiceHttpGet" />
  <wsdl:portType name="GetEBMWsServiceHttpPost" />
  <wsdl:binding name="GetEBMWsServiceSoap" type="tns:GetEBMWsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Show_PACS_HTML5_VIEWER_V2">
      <soap:operation soapAction="http://tempuri.org/Show_PACS_HTML5_VIEWER_V2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Show_PACS_HTML5_VIEWER">
      <soap:operation soapAction="http://tempuri.org/Show_PACS_HTML5_VIEWER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Show_PACS_WEB_VIEWER_V2">
      <soap:operation soapAction="http://tempuri.org/Show_PACS_WEB_VIEWER_V2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Show_PACS_WEB_VIEWER">
      <soap:operation soapAction="http://tempuri.org/Show_PACS_WEB_VIEWER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniReportTextResult_V2">
      <soap:operation soapAction="http://tempuri.org/UniReportTextResult_V2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniReportTextResult">
      <soap:operation soapAction="http://tempuri.org/UniReportTextResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetEBMWsServiceSoap12" type="tns:GetEBMWsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Show_PACS_HTML5_VIEWER_V2">
      <soap12:operation soapAction="http://tempuri.org/Show_PACS_HTML5_VIEWER_V2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Show_PACS_HTML5_VIEWER">
      <soap12:operation soapAction="http://tempuri.org/Show_PACS_HTML5_VIEWER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Show_PACS_WEB_VIEWER_V2">
      <soap12:operation soapAction="http://tempuri.org/Show_PACS_WEB_VIEWER_V2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Show_PACS_WEB_VIEWER">
      <soap12:operation soapAction="http://tempuri.org/Show_PACS_WEB_VIEWER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniReportTextResult_V2">
      <soap12:operation soapAction="http://tempuri.org/UniReportTextResult_V2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniReportTextResult">
      <soap12:operation soapAction="http://tempuri.org/UniReportTextResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetEBMWsServiceHttpGet" type="tns:GetEBMWsServiceHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="GetEBMWsServiceHttpPost" type="tns:GetEBMWsServiceHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="GetEBMWsService">
    <wsdl:port name="GetEBMWsServiceSoap" binding="tns:GetEBMWsServiceSoap">
      <soap:address location="http://172.20.110.32/eck_mis_ws/GetEBMWsService.asmx" />
    </wsdl:port>
    <wsdl:port name="GetEBMWsServiceSoap12" binding="tns:GetEBMWsServiceSoap12">
      <soap12:address location="http://172.20.110.32/eck_mis_ws/GetEBMWsService.asmx" />
    </wsdl:port>
    <wsdl:port name="GetEBMWsServiceHttpGet" binding="tns:GetEBMWsServiceHttpGet">
      <http:address location="http://172.20.110.32/eck_mis_ws/GetEBMWsService.asmx" />
    </wsdl:port>
    <wsdl:port name="GetEBMWsServiceHttpPost" binding="tns:GetEBMWsServiceHttpPost">
      <http:address location="http://172.20.110.32/eck_mis_ws/GetEBMWsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>