NIS_ECK_Integration/NIS/Web References/PutJTEMRWsService_WS/PutJTEMRWsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UploadEMRFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EM" type="tns:EnvirMode" />
            <s:element minOccurs="0" maxOccurs="1" name="VerifyString" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FilePathStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="EnvirMode">
        <s:restriction base="s:string">
          <s:enumeration value="ProductionEnvir" />
          <s:enumeration value="TestEnvir" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadEMRFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadEMRFileResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadEMRFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadEMRFile" />
  </wsdl:message>
  <wsdl:message name="UploadEMRFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadEMRFileResponse" />
  </wsdl:message>
  <wsdl:portType name="PutJTEMRWsServiceSoap">
    <wsdl:operation name="UploadEMRFile">
      <wsdl:input message="tns:UploadEMRFileSoapIn" />
      <wsdl:output message="tns:UploadEMRFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PutJTEMRWsServiceHttpGet" />
  <wsdl:portType name="PutJTEMRWsServiceHttpPost" />
  <wsdl:binding name="PutJTEMRWsServiceSoap" type="tns:PutJTEMRWsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadEMRFile">
      <soap:operation soapAction="http://tempuri.org/UploadEMRFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PutJTEMRWsServiceSoap12" type="tns:PutJTEMRWsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadEMRFile">
      <soap12:operation soapAction="http://tempuri.org/UploadEMRFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PutJTEMRWsServiceHttpGet" type="tns:PutJTEMRWsServiceHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="PutJTEMRWsServiceHttpPost" type="tns:PutJTEMRWsServiceHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="PutJTEMRWsService">
    <wsdl:port name="PutJTEMRWsServiceSoap" binding="tns:PutJTEMRWsServiceSoap">
      <soap:address location="http://172.20.110.32/ECK_MIS_WS/PutJTEMRWsService.asmx" />
    </wsdl:port>
    <wsdl:port name="PutJTEMRWsServiceSoap12" binding="tns:PutJTEMRWsServiceSoap12">
      <soap12:address location="http://172.20.110.32/ECK_MIS_WS/PutJTEMRWsService.asmx" />
    </wsdl:port>
    <wsdl:port name="PutJTEMRWsServiceHttpGet" binding="tns:PutJTEMRWsServiceHttpGet">
      <http:address location="http://172.20.110.32/ECK_MIS_WS/PutJTEMRWsService.asmx" />
    </wsdl:port>
    <wsdl:port name="PutJTEMRWsServiceHttpPost" binding="tns:PutJTEMRWsServiceHttpPost">
      <http:address location="http://172.20.110.32/ECK_MIS_WS/PutJTEMRWsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>